# fly.toml file generated for Brilliox Ultimate
app = "brilliox-ultimate-crm"
primary_region = "ams"

[build]
  builder = "docker"

[env]
  PORT = "8000"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]
