app = "ai-builder-app"
primary_region = "ams"

[build]

[env]
  PORT = "10000"

[[services]]
  internal_port = 10000
  protocol = "tcp"

  [[services.ports]]
    port = 80
  [[services.ports]]
    port = 443
    tls = true

  [[services.tcp_checks]]
    interval = "10s"
    timeout = "2s"
